@CHARSET "ISO-8859-1";

/* Main div */ /* Common */
.tableTdLabel {
	font-weight: bold;
	text-align: right;
}

.tableTdText {
	font-weight: bold;
	text-align: left;
}

.tableTdText input[type='number'] {
	background-color: rgb(250, 255, 189);
}

.tableTdText input[type='text'] {
	background-color: rgb(250, 255, 189);
}

.tableTdText textarea {
	background-color: rgb(250, 255, 189);
	max-width: 300px;
	height: 80px
}

.displayNone {
	display: none;
}

.buttonOn {
	font-weight: bold;
	width: 50px;
	background-color: green;
	color: white;
}

.buttonOff {
	font-weight: bold;
	width: 50px;
	background-color: red;
	color: white;
}

.datefield {
	background-image: url("../images/date_ico.jpg");
	background-position: 94px -5px;
	background-repeat: no-repeat;
	height: 17px;
	width: 120px;
}

.datetimefield {
	background-image: url("../images/time_ico.png");
	background-position: 128px -4px;
	background-repeat: no-repeat;
	height: 17px;
	width: 150px;
}

* Tooltip * /
.ui-tooltip,.arrow:after {
	background: black;
	border: 2px solid white;
}

.ui-tooltip {
	padding: 10px 10px;
	background-color: pink;
	border-radius: 10px;
	font: bold 10px;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}

.arrow {
	width: 30px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow.top {
	top: -16px;
	bottom: auto;
}

.arrow.left {
	left: 20%;
}

.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.arrow.top:after {
	bottom: -20px;
	top: auto;
}

.number30 {
	width: 30px;
}

.number50 {
	width: 50px;
}

.number80 {
	width: 80px;
}

.perform_button {
	height: 30px;
	margin-right: 10px;
	font-weight: bold;
	min-width: 98px;
	float: right;
}

.menuButton {
	height: 30px;
	margin-right: 10px;
	font-weight: bold;
	min-width: 98px;
	float: right;
}

#body {
	margin-top: 5px;
}

#body_data {
	height: 525px;
	overflow: auto;
}

#body_menu {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	text-align: right;
}

#body_data {
	float: left;
	width: 100%;
}

.activeButtonViolet {
	background-color: violet;
}

.activeButtonGreen {
	background-color: green;
	color: white;
}

.tr_head {
	background-color: gray;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#header {
	
}

#header_information_private {
	float: right;
	width: 50%;
	padding-bottom: 5px;
	background-color: bisque;
}

#header_information_public {
	float: left;
	width: 50%;
	padding-bottom: 5px;
	background-color: bisque;
}

#body_data_sub_menu {
	width: 100%;
	float: left;
	background-color: bisque;
}

#body_data_main {
	width: 100%;
	float: left;
	background-color: #27B9B2;
	height: 93%;
	overflow: auto;
}

.selectClass {
	width: 110px;
	height: 22px;
}

#configmodule_configForm {
	width: 80%;
}

#userMenuTable {
	min-height: 320px;
}

table.dataTable tbody td {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.tdLable {
	text-align: right;
	font-weight: bold;
}