@CHARSET "ISO-8859-1";

/* Main div */
.tableTdLabel {
	font-weight: bold;
	text-align: right;
}

.displayNone {
	display: none;
}

.buttonOn {
	font-weight: bold;
	width: 50px;
	background-color: green;
	color: white;
}

.buttonOff {
	font-weight: bold;
	width: 50px;
	background-color: red;
	color: white;
}

.datefield {
	background-image: url("../images/date_ico.jpg");
	background-position: 94px -5px;
	background-repeat: no-repeat;
	height: 17px;
	width: 120px;
}

.datetimefield {
	background-image: url("../images/time_ico.png");
	background-position: 128px -4px;
	background-repeat: no-repeat;
	height: 17px;
	width: 150px;
}
